# Flutter
.dart_tool/
.packages
build/
*.iml
.idea/
.vscode/
*.lock

# Android
local.properties
*.keystore
*.jks
key.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# macOS
macos/Pods/

# Web
web/.build*

# Platform
.android/
ios/
web/
macos/
linux/
windows/
